
* {
   margin: 0;
   padding: 0;
} 

body {
   background-color: black;
}

header{
   padding: 7px 0 ;
   height: 59px;
   text-align: center;
   font-weight: 500;
   font-size: 50px;
   line-height: 59px;
   font-family: Raleway;
   letter-spacing: 0px;
   color:#ffffff;
   opacity: 1;
}


main img {
   width: 1680px;
   height: 727px;
}

.elementoPrincipal{
   margin: 45px 190px 66px;
   display: flow-root;

}

.imagenPrincipal img {
   width: 399px;
   float:right;
   
}

.textoPrincipal {
   width: 475px;
   font-weight: 300;
   font-size: 16px;
   line-height: 19px;
   font-family: Raleway;
   letter-spacing: 0px;
   color: #ffffff;
   opacity: 1;
   float:left;
   padding-top: 45px;

}

.features{
    background-color:#1E1A13;
    text-align: center;
    padding: 75px 0;
}
  .textoFeature{
     font-weight:300;
     font-size: 40px;
     line-height: 47px;
     font-family:Raleway;
     color: #ffffff;
     letter-spacing: 0px;
  }




.feature {
     color:#ffffff;
     display: inline-block;
     width: 30%;
     text-align: center;
     font-weight:300;
     font-size: 24px;
     line-height: 29px;
     font-family:Raleway;
     padding-top: 50px;
}

.feature i {
   display: block;
   padding-bottom: 17px;
}

.pictures{
   padding: 73px 0;
   text-align: center;
}

.picture{
   display: inline-block;
 
}

.picture img {
   width: 316px;
   height: 202px;
   margin: 0 10px;
}


footer  {
    background-color: #1E1A13;
    color:#ffffff;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    font-family: Raleway;
    text-align: center;
    padding: 39px 0;
}


footer a{
    color: #ffffff;
}